body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: #69d2e7;
	overflow: hidden;
	font-size: 62.5%;
	font-family: sans-serif, "Arial";
}


canvas {
	margin: 0px;
	padding: 0px;
	position: absolute;
	/*background: #3c3b3b;*/
	pointer-events: none;
	position: absolute;
}


#content {
	margin: 0px;
	padding: 50px;
	width: 400px;
	height: 400px;
	display: inline-block;
	/*overflow: hidden;*/
	position: absolute;
}
	
	#content #logo {
		
	}
	
	#content h1 {
		margin: 10px 0px 0px 0px;
		color: #fff;
		font-weight: 100;
		font-size: 3.6em;
	}
	
	#content h2 {
		margin: 0px;
		line-height: 1.0em;
		/*font-weight: 100;*/
		color: #573E31;
	}
	
	#content p {
		font-size: 1.4em;
		color: #573E31;
	}
	
		#content p a {
			text-decoration: none;
			color: #fff;
			font-weight: bold;
		}
		
		
#jellies-btn {
	margin: 0px 5px;
	width: 64px;
	height: 64px;
	display: inline-block;
	background: url("/web/20130420204704im_/http://nardove.com/images/jellies-button.png") no-repeat;
	cursor: pointer;
}

#pond-btn {
	margin: 0px 5px;
	width: 64px;
	height: 64px;
	display: inline-block;
	background: url("/web/20130420204704im_/http://nardove.com/images/pond-button.png") no-repeat;
	cursor: pointer;
}


.not-found-error {
	font-size: 3.6em;
	color: #fff;
}
/*
     FILE ARCHIVED ON 20:47:04 Apr 20, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:34:53 Feb 28, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 3.669
  exclusion.robots: 0.191
  esindex: 0.014
  captures_list: 451.257
  exclusion.robots.policy: 0.178
  CDXLines.iter: 9.731 (2)
  LoadShardBlock: 426.697 (3)
  load_resource: 99.8
  PetaboxLoader3.datanode: 267.547 (7)
  PetaboxLoader3.resolve: 255.877 (3)
*/